@model System10.Models.DboCredential

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DboCredential</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BIsGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BIsGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BSmokeTest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BSmokeTest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bin64PasswordHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bin64PasswordHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nvch128Caption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nvch128Caption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vchr256CreatedContext)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vchr256CreatedContext)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vchr256ModifiedContext)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vchr256ModifiedContext)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vchr32Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vchr32Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BintId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
