@model IEnumerable<System10.Models.DboCredential>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIsGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BSmokeTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bin64PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nvch128Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vchr256CreatedContext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vchr256ModifiedContext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vchr32Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIsGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BSmokeTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bin64PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nvch128Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vchr256CreatedContext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vchr256ModifiedContext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vchr32Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BintId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BintId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BintId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
